page-home {

.ou_card{
   text-align: center;
   margin-top: 20%; 
}

.Underrated{
    text-decoration: overline;
    font-size: 200%;
}

.Overrated{
    text-decoration: underline;
    font-size: 200%;
}

}
